// Salesforce Design System Tokens
@import "../../node_modules/salesforce-design-system/scss/design-tokens.scss";

// Override token values here:
//$color-text-default: red;
//$font-size-small: 0.875rem;



// Salesforce Design System
@import "../../node_modules/salesforce-design-system/scss/index-custom-tokens.scss";

.card_inner {
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: white;
}

.progress--label {
  font-size: 0.75rem;
  line-height: 1.0;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  color: #54698d;
}
@media (min-width: 61.25em) {
.progress--label {
  font-size: 0.875rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  color: #54698d;
}
}

.nav_icon {
  padding: 6px;
   height: 42px;
    width: 42px;
}
