// Salesforce Design System Tokens
@import "../../node_modules/salesforce-design-system/scss/design-tokens.scss";

// Override token values here:
//$color-text-default: red;
//$font-size-small: 0.875rem;



// Salesforce Design System
@import "../../node_modules/salesforce-design-system/scss/index-custom-tokens.scss";


.nav_icon {
  padding: 6px;
   height: 42px;
    width: 42px;
}
