<% if (VISUALFORCE) { %>
<apex:page applyHtmlTag="true" applyBodyTag="false" showHeader="false" standardStylesheets="false">
<% } else { %>
<!DOCTYPE html>
<html lang="en">
<% } %>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= TITLE %></title>
  <% if (true || DEBUG === 'false') { %>
  <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
  <% } %>

  <script>
        var _sfdccreds = {
<% if (VISUALFORCE) { %>
            session_api: '{!$Api.Session_ID}',
            visualforce: true,
<% } else if (DEBUG) { %>
            session_api: <%= ACCESSTOKEN_1 %> + "!" + <%= ACCESSTOKEN_2 %>,
<% } %>
            host: <%= INSTANCE_URL %>
        };

  </script>

</head>
<body>
  <div id="app"></div>
  <script src="js/app.<%= version %>.js"></script>
</body>

<% if (VISUALFORCE) { %>
</apex:page >
<% } else { %>
</html>
<% } %>
